@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
    display: flex;
    width: 100%;
    background-color: #1f1e20;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    padding: 2.5rem 2rem 1rem 2rem;
    justify-content: space-between;
    /* border-right: 0.1rem solid black; */
}

.logo {
    display: flex;
    justify-content: left;
}

.logo p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #e27e3b;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

a {
    font-size: 1.3rem;
    color: #ffffff;
    transition: 0.3s;
}

a:hover {
    color: #6d6d6d;
    transition: 0.3s;
}

.space {
    padding: 1.5rem 0 0 0;
}

.create a {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.8rem;
    background-color: #e27e3b;
    border: 0.1rem solid #e27e3b;
    color: #1f1e20;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.create a:hover {
    background-color: #1f1e20;
    border: 0.1rem solid #e27e3b;
    color: #e27e3b;
}

.section {
    width: 84%;
    /* height: 100vh; */
    padding: 2.5rem;
    border-radius: 1rem;
    margin: 1rem 0;
    background-color: white;
}

.header h1 {
    font-size: 3.5rem;
}

.content {
    display: flex;
    gap: 3rem;
    margin: 2rem 0;
    border: 0.1rem solid black;
    padding: 1rem 2rem 1.7rem 2rem;
    border-radius: 1rem;
    width: 100%;
}

.number {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.detailTeamsAndProvinces {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.bold {
    font-weight: 700;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
    gap: 1rem;
}